1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of 3 print `Mickey` instead of the corresponding number and for the multiples of 5 print `Mouse`. For numbers which are multiples of both three and five print `MickeyMouse`

b) Put the result in a tuple and substitute `Mickey` with `Donald` and `Mouse` with `Duck`

In [35]:
#a)
results = []
for i in range(1,101):
    if (i%3==0) and (i%5!=0):
        r = 'Mickey'
    elif (i%5==0) and (i%3!=0):
        r = 'Mouse'
    elif (i%3==0) and (i%5==0):
        r = 'MickeyMouse'
    else:
        r = i
#    print(r)
    results += [r]   

#b)
for j in range(len(results)):
    if results[j] == 'Mickey':
        results[j] = 'Donald'
    elif results[j] == 'Mouse':
        results[j] = 'Duck'
    elif results[j] == 'MickeyMouse':
        results[j] = 'DonaldDuck'
results = tuple(results)

#results

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [36]:
def swap(a,b):
    a,b=b,a
    return a,b
    
a = 'ciao'
b = (1,2,3)
a,b = swap(a,b)
print(a)
print(b)

(1, 2, 3)
ciao

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [41]:
def distance(u,v):
    try:
        d = pow((u[0]-v[0])**2 + (u[1]-v[1])**2, 0.5)
        return d
    except:
        print(u, "is not a 2-tuple or", v, "is not a 2-tuple")

u,v = (3,0), (0,4)
distance(u,v)

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [ ]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one