1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of 3 print `Mickey` instead of the corresponding number and for the multiples of 5 print `Mouse`. For numbers which are multiples of both three and five print `MickeyMouse`

b) Put the result in a tuple and substitute `Mickey` with `Donald` and `Mouse` with `Duck`

In [ ]:
for i in range (1, 100):
    if (i%3)==0:
        if(i%5)==0:
            print("MickeyMouse")
        else:
            print("Mickey")
    elif (i%5)==0:
        print("Mouse")
    else:
        print (i)

A tuple cannot be changed

In [ ]:
a=(1,)
for i in range (2,100):
    if (i%3)==0:
        if(i%5)==0:
            a=a+("MickeyMouse",)
        else:
            a=a+("Mickey",)
    elif (i%5)==0:
        a=a+("Mouse",)
    else:
        a=a+(i,)
print (a)

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [ ]:
def swap(x,y):
    t=x
    x=y
    y=t
    return x,y

x = input("set the value of x")
y = input("set the value of y")
x,y=swap(x,y)
print (x,y)

In [ ]:
def swap(x,y):
    return y,x

x = input("set the value of x ")
y = input("set the value of y ")
x,y=swap(x,y)
print (x,y)

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [ ]:
def dist (u,v):
    x=u[0] ** 2-v[0] ** 2
    y=u[1] ** 2-v[1] ** 2
    if x<0:
        x=-x
    if y<0:
        y=-y
    return (x+y) ** (1/2)

u=(3,4)
v=(5,6)

dist(u,v)

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [ ]:
st = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"
st_2=st.lower()

#chr(i) gives you the ASCII conversion from decimal to char

for i in range (128):
    print(chr(i), st_2.count(chr(i)))

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [ ]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]
l.sort()
print (l)

In [ ]:
def unique(x):
    length=len(x)
    x.sort()
    n_un=x[0]
    un=[]
    
    #n_un is a number that we use to check if the previous number already came out. We set it to the first element of the list
    #when doing the for loop, we check and if we are in the first item of the list, we skip the check n_un==first element of the
    #list so that the choice of n_un=x[0] is not arbitrary. For the next number we check if they are equal to the next OR if
    #they are equal to the number that we already found. In either cases, we update n_un.
    
    #If the number is different from both the conditions, we save it in our array. Special care is needed for the last number 
    #of the list, so we check if i+1 is the last number, we skip the x[i+1] condition and we check just if it is equal
    #to the number before. If not, we save it 
    
    for i in range (length):
        if (i+1!=length and x[i]==x[i+1]) or (n_un==x[i] and i!=0):
            n_un=x[i]
        else:
            un+=[x[i]]
    return un


print(unique(l))

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [ ]:
def square (x):
    return x**2
def cube (x):
    return x**3
def sixth(x):
    return cube(square(x))

x = input("set the value of x ")
x = int(x)
print(sixth(x))

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [ ]:
#for loop 
def cube (x):
    return x**3

x=[]
for i in range (10):
    cubes+=[cube(i)]
print (x)

In [ ]:
#list comprehension
cubes = [x**3 for x in range(10)]
print (cubes)

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [11]:
squares = [x**2 for x in range(100)]

triple=()

for i in range(2,len(squares)):
    for j in range(0,i):
        for k in range(j+1,i):
            if (squares[k]+squares[j]==squares[i]):
                triple+=((squares[j],squares[k],squares[i]),)
print(triple)

((9, 16, 25), (36, 64, 100), (25, 144, 169), (81, 144, 225), (64, 225, 289), (144, 256, 400), (49, 576, 625), (225, 400, 625), (100, 576, 676), (400, 441, 841), (324, 576, 900), (256, 900, 1156), (441, 784, 1225), (144, 1225, 1369), (225, 1296, 1521), (576, 1024, 1600), (81, 1600, 1681), (729, 1296, 2025), (196, 2304, 2500), (900, 1600, 2500), (576, 2025, 2601), (400, 2304, 2704), (784, 2025, 2809), (1089, 1936, 3025), (1600, 1764, 3364), (1296, 2304, 3600), (121, 3600, 3721), (256, 3969, 4225), (625, 3600, 4225), (1089, 3136, 4225), (1521, 2704, 4225), (1024, 3600, 4624), (1764, 3136, 4900), (2304, 3025, 5329), (576, 4900, 5476), (441, 5184, 5625), (2025, 3600, 5625), (900, 5184, 6084), (2304, 4096, 6400), (324, 6400, 6724), (169, 7056, 7225), (1296, 5929, 7225), (1600, 5625, 7225), (2601, 4624, 7225), (3600, 3969, 7569), (1521, 6400, 7921), (2916, 5184, 8100), (1225, 7056, 8281), (3249, 5776, 9025), (4225, 5184, 9409))

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [20]:
numbers=(2 ,89,70,56, 61, 5, 85, 30, 45)
ma=max(numbers)
mi=min(numbers)
d=ma-mi
normalized=()
for i in range(len(numbers)):
    normalized+=((numbers[i]-mi)/d,)
print (normalized)

(0.0, 1.0, 0.7816091954022989, 0.6206896551724138, 0.6781609195402298, 0.034482758620689655, 0.9540229885057471, 0.3218390804597701, 0.4942528735632184)