1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of 3 print `Mickey` instead of the corresponding number and for the multiples of 5 print `Mouse`. For numbers which are multiples of both three and five print `MickeyMouse`

b) Put the result in a tuple and substitute `Mickey` with `Donald` and `Mouse` with `Duck`

In [35]:
#a)
results = []
for i in range(1,101):
    if (i%3==0) and (i%5!=0):
        r = 'Mickey'
    elif (i%5==0) and (i%3!=0):
        r = 'Mouse'
    elif (i%3==0) and (i%5==0):
        r = 'MickeyMouse'
    else:
        r = i
#    print(r)
    results += [r]   

#b)
for j in range(len(results)):
    if results[j] == 'Mickey':
        results[j] = 'Donald'
    elif results[j] == 'Mouse':
        results[j] = 'Duck'
    elif results[j] == 'MickeyMouse':
        results[j] = 'DonaldDuck'
results = tuple(results)

#results

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [36]:
def swap(a,b):
    a,b=b,a
    return a,b
    
a = 'ciao'
b = (1,2,3)
a,b = swap(a,b)
print(a)
print(b)

(1, 2, 3)
ciao

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [41]:
def distance(u,v):
    try:
        d = pow((u[0]-v[0])**2 + (u[1]-v[1])**2, 0.5)
        return d
    except:
        print(u, "is not a 2-tuple or", v, "is not a 2-tuple")

u,v = (3,0), (0,4)
distance(u,v)

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [13]:
s = 'maMmA'

results = {}

alphabet = 'qwertyuiopasdfghjklzxcvbnm'
alphabet = list(alphabet)

s = s.casefold()
for c in alphabet:
    count = s.count(c)
    if count != 0:
        results[c] = count
    
results

3

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [15]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

In [19]:
def count_unique(a):
    uniques = []
    for el in a:
        if l.count(el) == 1:
            uniques += [el]
    return uniques, len(uniques)
            
u,n = count_unique(l)   
print('The unique numbers in l are:', u, 'which are', n )

The unique numbers in l are: [58, 74, 96, 64, 10, 24, 19, 33, 86, 99, 18, 47, 88, 55, 54, 8, 79, 81, 57, 37, 1, 9, 95, 90, 98, 39, 16, 82, 92, 41, 30, 94, 5, 72, 87, 75, 53] which are 37

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [20]:
def square(n):
    return n**2

def cube(n):
    return n**3

def sixth_pw(n):
    return square(cube(n))

sixth_pw(2)

64

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [24]:
list_1 = []
for x in range(11):
    list_1 += [x**3]
print(list_1)

list_2 = [x**3 for x in range(11)]
print(list_2)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [64]:
triples = []
for a in range(3,100):
    for b in range(4,100):
        for c in range(5,100):
            if a**2+b**2-c**2==0:
                triples += [(a,b,c)]
triples = tuple(triples)
 
triples

((3, 4, 5),
 (5, 12, 13),
 (6, 8, 10),
 (7, 24, 25),
 (8, 6, 10),
 (8, 15, 17),
 (9, 12, 15),
 (9, 40, 41),
 (10, 24, 26),
 (11, 60, 61),
 (12, 5, 13),
 (12, 9, 15),
 (12, 16, 20),
 (12, 35, 37),
 (13, 84, 85),
 (14, 48, 50),
 (15, 8, 17),
 (15, 20, 25),
 (15, 36, 39),
 (16, 12, 20),
 (16, 30, 34),
 (16, 63, 65),
 (18, 24, 30),
 (18, 80, 82),
 (20, 15, 25),
 (20, 21, 29),
 (20, 48, 52),
 (21, 20, 29),
 (21, 28, 35),
 (21, 72, 75),
 (24, 7, 25),
 (24, 10, 26),
 (24, 18, 30),
 (24, 32, 40),
 (24, 45, 51),
 (24, 70, 74),
 (25, 60, 65),
 (27, 36, 45),
 (28, 21, 35),
 (28, 45, 53),
 (30, 16, 34),
 (30, 40, 50),
 (30, 72, 78),
 (32, 24, 40),
 (32, 60, 68),
 (33, 44, 55),
 (33, 56, 65),
 (35, 12, 37),
 (35, 84, 91),
 (36, 15, 39),
 (36, 27, 45),
 (36, 48, 60),
 (36, 77, 85),
 (39, 52, 65),
 (39, 80, 89),
 (40, 9, 41),
 (40, 30, 50),
 (40, 42, 58),
 (40, 75, 85),
 (42, 40, 58),
 (42, 56, 70),
 (44, 33, 55),
 (45, 24, 51),
 (45, 28, 53),
 (45, 60, 75),
 (48, 14, 50),
 (48, 20, 52),
 (48, 36, 60),
 (48, 55, 73),
 (48, 64, 80),
 (51, 68, 85),
 (52, 39, 65),
 (54, 72, 90),
 (55, 48, 73),
 (56, 33, 65),
 (56, 42, 70),
 (57, 76, 95),
 (60, 11, 61),
 (60, 25, 65),
 (60, 32, 68),
 (60, 45, 75),
 (60, 63, 87),
 (63, 16, 65),
 (63, 60, 87),
 (64, 48, 80),
 (65, 72, 97),
 (68, 51, 85),
 (70, 24, 74),
 (72, 21, 75),
 (72, 30, 78),
 (72, 54, 90),
 (72, 65, 97),
 (75, 40, 85),
 (76, 57, 95),
 (77, 36, 85),
 (80, 18, 82),
 (80, 39, 89),
 (84, 13, 85),
 (84, 35, 91))

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [45]:
def normalization(t):
    norm = pow(sum([i**2 for i in t]), 0.5)
    t_norm = [i/norm for i in t]
    return tuple(t_norm)
            
normalization((1,2))

(0.4472135954999579, 0.8944271909999159)